<header class="h-16 border-b border-slate-800 bg-slate-900">

    <div class="h-full px-6 flex justify-between items-center">

        <div>
            <h1 class="font-semibold">
                <%= title %>
            </h1>
        </div>

        <div class="flex items-center gap-4">

            <a href="/logout">
                <button
                    class="bg-slate-800 hover:bg-slate-700 px-4 py-2 rounded-lg">
                    خروج
                </button>
            </a>
        </div>

    </div>

</header>