<aside class="w-72 bg-slate-900 border-l border-slate-800">

    <div class="h-16 flex items-center px-6 border-b border-slate-800">

        <div>
            <h2 class="font-bold text-xl">
                3XUI BOT
            </h2>

            <p class="text-xs text-slate-400">
                Admin Panel
            </p>
        </div>

    </div>

    <nav class="p-4 space-y-2">

        <a href="/dashboard"
            class="flex items-center gap-3 p-3 rounded-xl hover:bg-slate-800 transition">

            <span>📊</span>
            <span>داشبورد</span>

        </a>

        <a href="/users"
            class="flex items-center gap-3 p-3 rounded-xl hover:bg-slate-800 transition">

            <span>👤</span>
            <span>کاربران</span>

        </a>

        <a href="/servers"
            class="flex items-center gap-3 p-3 rounded-xl hover:bg-slate-800 transition">

            <span>🖥️</span>
            <span>سرورها</span>

        </a>

        <a href="/services"
            class="flex items-center gap-3 p-3 rounded-xl hover:bg-slate-800 transition">

            <span>📦</span>
            <span>سرویس ها</span>

        </a>

        <a href="/plans"
            class="flex items-center gap-3 p-3 rounded-xl hover:bg-slate-800 transition">

            <span>📦</span>
            <span>تعرفه ها</span>

        </a>

        <a href="/paymentMethods"
            class="flex items-center gap-3 p-3 rounded-xl hover:bg-slate-800 transition">

            <span>🏧</span>
            <span>روش های پرداخت</span>

        </a>

        <a href="/orders"
            class="flex items-center gap-3 p-3 rounded-xl hover:bg-slate-800 transition">

            <span>🛒</span>
            <span>سفارش ها</span>

        </a>

        <a href="/walletTransactions"
            class="flex items-center gap-3 p-3 rounded-xl hover:bg-slate-800 transition">

            <span>🛒</span>
            <span>تراکنش های کیف پول</span>

        </a>

        <a href="/payments"
            class="flex items-center gap-3 p-3 rounded-xl hover:bg-slate-800 transition">

            <span>🛒</span>
            <span>پرداخت ها</span>

        </a>

        <a href="/settings"
            class="flex items-center gap-3 p-3 rounded-xl hover:bg-slate-800 transition">

            <span>⚙️</span>
            <span>تنظیمات</span>

        </a>

    </nav>

</aside>