<% layout('layouts/main') -%>

<% block('styles').append('<link rel="stylesheet" href="https://cdn.datatables.net/1.13.8/css/jquery.dataTables.min.css">') %>

<div class="space-y-6">
    <div class="bg-slate-900 rounded-2xl shadow-xl border border-slate-800 p-4 mx-auto">
        <% if (success && success.length > 0) { %>
            <div class="bg-green-600 text-white px-4 py-2 rounded mb-4">
                <%= success[0] %>
            </div>
        <% } %>
        
        <% if (failed && failed.length > 0) { %>
            <div class="bg-red-600 text-white px-4 py-2 rounded mb-4">
                <%= failed[0] %>
            </div>
        <% } %>
        <table id="usersTable" class="display w-full">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>کاربر</th>
                    <th>روش پرداخت</th>
                    <th>قیمت</th>
                    <th>وضعیت سفارش</th>
                    <th>کد رهگیری</th>
                    <th>تاریخ ثبت</th>
                </tr>
            </thead>
        </table>

    </div>
</div>

<% block('scripts').append(`<script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function () {

    $('#usersTable').DataTable({
        processing: true,
        serverSide: true,
        order: [[0, 'desc']],
        ajax: {
            url: '/payments/api',
            type: 'GET'
        }
    });

});
</script>`) %>
